In [1]:
import numpy as np 
import pandas as pd
from functools import reduce
import operator

In [2]:
dataframe = pd.DataFrame([[140000, 50, 1, 2],
                         [150000, 55, 0, 3],
                         [100000, 38, 1, 2],
                         [200000, 72, 0, 3],
                         [220000, 70, 1, 4],
                         [120000, 40, 0, 2],
                         [198000, 68, 0, 3],
                         [130000, 54, 0, 2],
                         [140000, 62, 0, 3],
                         [190000, 79, 1, 2],
                         [170000, 67, 1, 4],
                         [90000, 40, 0, 2]],
                         columns=['prix', 'surface', 'garage', 'nb_piece'])

In [3]:
dataframe

      prix  surface  garage  nb_piece
0   140000       50       1         2
1   150000       55       0         3
2   100000       38       1         2
3   200000       72       0         3
4   220000       70       1         4
5   120000       40       0         2
6   198000       68       0         3
7   130000       54       0         2
8   140000       62       0         3
9   190000       79       1         2
10  170000       67       1         4
11   90000       40       0         2

In [17]:
# Nos targets values de départ
row = dataframe['prix']

(12,)

In [19]:
def mse(dataset, target):

    rows = dataset[target]
    #colonne avec la moy
    pred = np.ones(rows.shape[0]) * np.mean(rows)
    mse = (1/len(rows)) *np.sum((rows - pred)**2)

    return mse

In [20]:
class decision_tree_regressor :

  
  def __init__(self, target, dataframe, max_depth):

    self.max_depth = max_depth
    self.target = target
    self.dataframe = dataframe

  def __quanti_split__(self, feature, value, dataset):

   
   left = dataset[dataset.loc[:,feature]<= value]
   right = dataset[dataset.loc[:,feature]> value]

   return left, right

  def __quali_split__(self, feature, value, dataset):
   
   left = dataset[dataset.loc[:,feature]== value]
   right = dataset[dataset.loc[:,feature]!= value]

   return left, right

  def __mse__(self, dataset):

      rows = dataset[self.target]
      pred = np.ones(rows.shape[0]) * np.mean(rows)
      mse = (1/len(rows)) *np.sum((rows - pred)**2)

      return mse 

  def __split_evaluator__(self, left_dataset, right_dataset):
    """Calculer le coût d'une séparation d'un noeud en deux branches
    INPUT 
       - left_dataset : dataset de la branche de gauche
       - right_dataset : dataset de la branche de droite
    OUTPUT 
       - cost : coût de la séparation"""
    left_eval = self.__mse__(left_dataset)
    nb_left = left_dataset.shape[0]
    right_eval = self.__mse__(right_dataset)
    nb_right = right_dataset.shape[0]
    nb_tot = nb_left + nb_right
    cost = nb_left/nb_tot * left_eval + nb_right/nb_tot * right_eval
    return cost